$background-color:#F8F8F8;
$grey-logo: #80949F;
$grey-font: #7E7E82;
$errows-and-focus-color:#41F6D7;
$button-color: #FF3E79;
$white: white;
$black: black;
$blurred-color: rgba(255, 255, 255,0.5);
$line-color: #EAEAEA