.swiper-slide {
  display: flex;
  height: fit-content;
  display: flex;
  align-items: center;
  width: 300px;
}

.brand-list {
  height: 80px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 10px;
  margin-left: 40px;
  margin-right: 40px;
  background-color: white;
}

.swiper-wrapper {
  padding-bottom: 30px;
  padding-top: 20px;
  width: 100%;
}

.logo{
&--lenovo {
  background-image: url("../img/Lenovo.svg");
  background-repeat: no-repeat;
  background-position: left;
  height: 72px;
  width: 190px;
  margin-left: 20px;
}

&--samsung {
  background-image: url("../img/samsung.svg");
  background-repeat: no-repeat;
  background-position: left;
  height: 72px;
  width: 190px;
  margin-left: 20px;
}

&--apple {
  background-image: url("../img/apple.svg");
  background-repeat: no-repeat;
  background-position: left;
  height: 72px;
  width: 190px;
  margin-left: 20px;
}

&--viewsonic {
  background-image: url("../img/viewsonic.svg");
  background-repeat: no-repeat;
  background-position: left;
  height: 72px;
  width: 190px;
  margin-left: 20px;
}

&--bosch {
  background-image: url("../img/bosch.svg");
  background-repeat: no-repeat;
  background-position: left;
  height: 72px;
  width: 190px;
  margin-left: 20px;
}

&--hp {
  background-image: url("../img/hp.svg");
  background-repeat: no-repeat;
  background-position: left;
  height: 72px;
  width: 190px;
  margin-left: 20px;
}

&--acer {
  background-image: url("../img/acer.svg");
  background-repeat: no-repeat;
  background-position: left;
  height: 72px;
  width: 190px;
  margin-left: 20px;
}

&--sony {
  background-image: url("../img/Sony.svg");
  background-repeat: no-repeat;
  background-position: left;
  height: 72px;
  width: 190px;
  margin-left: 20px;
}
}
.logo-button-go {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #ff3e79;
  background-color: transparent;
  margin-right: 20px;
  background-image: url("../img/dropdownpink.svg");
  background-size: auto;
}

.logo-button-go:hover {
  cursor: pointer;
}

.brand-list--3 {
  height: auto;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid $line-color;
}

h1 {
  text-transform: uppercase;
  color: gray;
}

.list-no-bullit {
  list-style: none;
}

.brand-names {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  max-height: 288px;
  overflow: hidden;
}

.brands {
  display: none;
}

@media (min-width: 768px) {
  .brand-list {
    height: 80px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 10px;
    margin-left: 40px;
    margin-right: 40px;
    background-color: white;
  }

  .list-no-bullit {
    list-style: none;
  }

  .brand-names {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    align-content: flex-start;
    max-height: 220px;
    overflow: hidden;
    padding-left: 0px;
    margin-left: 0;
  }

  .brands {
    overflow: hidden;
  }
}

.full {
  min-height: 360px;
}

.button-show-hide {
  .show-to-hide {
    display: visible;
  }

  .hide-to-show {
    display: none;
  }
}

.show-hide {
  .show-to-hide {
    display: none;
  }

  .hide-to-show {
    display: visible;
  }
  .swiper3__add-text{
  display: none;  
  }
}

.show-arrow {
  background-image: url("../img/showarrow.svg");
  background-size: contain;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: bottom;
  width: 7.41px;
  height: 10.29px;
  border: none;
  padding-top: 4px;
}

.hide-arrow {
  background-image: url("../img/hidearrow.svg");
  background-size: contain;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  width: 7.41px;
  height: 10.29px;
  border: none;
  padding-top: 4px;
}

.show-hide-arrow:hover {
  cursor: pointer;
}

.button-alignment {
  display: flex;
  margin-left: 45px;
}

#hide {
  border: none;
  background-color: transparent;
}

#hide:hover {
  cursor: pointer;
}



h1 {
  background-color: transparent;
  margin: 0px;
  padding: 0px;
}

.show {
  height: 50px;
  display: flex;
  align-items: flex-end;
}

header {
  padding-left: 30px;
  padding-bottom: 20px;
  padding-top: 20px;
  background: linear-gradient(to right, hsl(0, 11%, 96%), white);
}

.full--2 {
  min-height: 360px;
}

.button-show-hide--2 {
  .show-to-hide--2 {
    display: visible;
  }

  .hide-to-show--2 {
    display: none;
  }
}

.show-hide--2 {
  .show-to-hide--2 {
    display: none;
  }

  .hide-to-show--2 {
    display: visible;
  }
}

.show-arrow--2 {
  background-image: url("../img/showarrow.svg");
  background-size: contain;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: bottom;
  width: 7.41px;
  height: 10.29px;
  border: none;
  padding-top: 4px;
}

.hide-arrow--2 {
  background-image: url("../img/hidearrow.svg");
  background-size: contain;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  width: 7.41px;
  height: 10.29px;
  border: none;
  padding-top: 4px;
}

.show-hide-arrow--2:hover {
  cursor: pointer;
}
.button-alignment--2 {
  display: flex;
  margin-left: 45px;
}

#hide--2 {
  border: none;
  background-color: transparent;
}

#hide--2:hover {
  cursor: pointer;
}

.full--3 {
  min-height: 360px;
}

.button-show-hide--3 {
  .show-to-hide--3 {
    display: visible;
  }

  .hide-to-show--3 {
    display: none;
  }
}

.show-hide--3 {
  .show-to-hide--3 {
    display: none;
  }

  .hide-to-show--3 {
    display: visible;
  }
}

.show-arrow--3 {
  background-image: url("../img/showarrow.svg");
  background-size: contain;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: bottom;
  width: 7.41px;
  height: 10.29px;
  border: none;
  padding-top: 4px;
}

.hide-arrow--3 {
  background-image: url("../img/hidearrow.svg");
  background-size: contain;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  width: 7.41px;
  height: 10.29px;
  border: none;
  padding-top: 4px;
}

.show-hide-arrow--3:hover {
  cursor: pointer;
}
.button-alignment--3 {
  display: flex;
  margin-left: 45px;
}

#hide--3 {
  border: none;
  background-color: transparent;
}

#hide--3:hover {
  cursor: pointer;
}

.repair-devices {
  height: 2em;
  width: 143px;
  display: flex;
  align-self: flex-start;
  justify-self: flex-start;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: white;
  font-size: smaller;
}
.logo-button-go {
  display: flex;
  justify-self: flex-end;
  align-self: flex-end;
  margin-bottom: 15px;
}

@media(min-width:768px) {
  
div.swiper-wrapper--3 {
  display: flex;
  flex-wrap: wrap;
  max-height: 200px;
  overflow: visible;
}

div.swiper-wrapper {
  display: flex;
  flex-wrap: wrap;
  max-height: 200px;
  overflow: visible;
}
#swiper-wrapper--4 {
  display: block;
  min-height: 278px;
  overflow: visible;
  padding-bottom: 0;
  padding-left: 0px;
  padding-right: 0px;
  
}
.swiper3__add-text{
  display: none;
}
}

div.swiper-slide--3{
  margin: 0;
  width:100%;
}
.width--100{
  width: 100%;
}

.brand-list__repair-price{
display: flex;
width: 100%;
height:55px;
}
.brand-list--3{
  display: flex;
}

.swiper-3-cap {
  display: flex;
  color: $grey-font;
}

.col{
  
  &--1{
  width: 50%;
  }
  &--2{
  width: 12.5%;
  }
  &--3{
  width:12.5%;
 }
  &--4{
  width:25%;
}
}

.align-content{
  display: flex;
}
.brands-2 {
  max-height: 260px;
}
.brand-list--2 {
  height: 160px;
  width: 224px;
  display: flex;
  background-color: white;
  margin: 15px;
  margin-bottom: 25px;
  margin-top: 25px;
}
.swiper3-cap {
  display: flex;
}
.swiper-3-cap__right {
  display: flex;
  margin-left: 100px;
}

@media(max-width: 768px){
  .swiper-3-cap{
    display:none;
    }

    .brand-list--3 {
      height: 200px;
      width: 260px;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      background-color: white;
      margin: 15px;
      margin-bottom: 25px;
      margin-top: 25px;
      border: none;
      padding: 10px;
    }

    .brand-list__repair-price{
      display: flex;
      flex-wrap: wrap;
      font-size: 14px;
      position: relative;

    }
    .col--1, .col--2, .col--3, .col--4{
      width:100%;
      margin-bottom: 30px;
    }

    
    .button-send--swiper3{
      position:absolute;
      right: 1px;
      top: 140px;
    }
    
  }
 .swiper3__add-text{
  color: $grey-font;
 }
